.login-container {
  padding-top: 10%;
  margin-bottom: 5%;
}
.container-inner {
  padding: 10%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.container-inner h3 {
  text-align: center;
  color: #333;
}

.container-inner form {
  padding: 10%;
}

.login-form-1 {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3 {
  text-align: center;
  color: #333;
}

.login-container form {
  padding: 10%;
}
.btnSubmit {
  text-align: center;
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.btnSubmit:disabled {
  background-color: rgba(0, 98, 204, 0.4) !important;
}
.login-form-1 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #6c757d;
}

.login-form-1 .btnSubmit:hover {
  background-color: rgba(0, 98, 204, 0.4);
}

.p-about {
  text-align: justify !important;
}

.login {
  margin-bottom: 0px;
}
.login > .form-group {
  margin-bottom: 0px;
}
